<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="display-header-container">
        <div class="banner-container">
          <img  src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/Flexo-Stand-01.jpg" alt="">
          <div class="banner-title">
            <h1>FLEXO STANDS</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 desktop">
          <div class="card">
              <div class="card-img-top">
                <img [routerLink]="['/productos/flexo-velcro']"  src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/05.jpg" class="producto hvr-grow">
              </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/flexo-velcro']">FLEXO VELCRO</a> </div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
              <div class="card-img-top">
                <img [routerLink]="['/productos/flexo-tela']" src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/01.jpg" class="producto hvr-grow">
              </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flexo-tela']">PANEL TELA 1V RECTO</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
              <div class="card-img-top">
                <img [routerLink]="['/productos/flexo-curvo']" src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/06.jpg" class="producto hvr-grow">
              </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flexo-curvo']">FLEXO CURVO</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
              <div class="card-img-top">
                <img [routerLink]="['/productos/flexo-velcro']"  src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/05.jpg" class="producto hvr-grow">
              </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/flexo-velcro']">FLEXO VELCRO</a> </div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
              <div class="card-img-top">
                <img [routerLink]="['/productos/flexo-tela']" src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/01.jpg" class="producto hvr-grow">
              </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flexo-tela']">PANEL TELA 1V RECTO</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
              <div class="card-img-top">
                <img [routerLink]="['/productos/flexo-curvo']" src="../../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/06.jpg" class="producto hvr-grow">
              </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flexo-curvo']">FLEXO CURVO</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
