<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="display-header-container">
        <div class="banner-container">
          <img  src="../../../../../assets/images/productos/modulos-01.jpg" alt="">
          <div class="banner-title">
            <h1>MÓDULOS</h1>
          </div>
          <h1 class="text-hide">QUICKSYSTEM</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/microc']"  src="../../../../../assets/images/imagenes-productos/modulos/micro-counter.jpg" class="hvr-grow" >
            </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/microc']">MICRO COUNTER</a> </div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickr']" src="../../../../../assets/images/imagenes-productos/modulos/quick-rack.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickr']">QUICK RACK</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickw']" src="../../../../../assets/images/imagenes-productos/modulos/quick-work-station.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickw']">QUICK WORKSTATION</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/minisimple']" src="../../../../../assets/images/imagenes-productos/modulos/mini-simple-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/minisimple']">MINI SIMPLE COUNTER</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/shellc']" src="../../../../../assets/images/imagenes-productos/modulos/shell-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/shellc']">SHELL COUNTER</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickx']" src="../../../../../assets/images/imagenes-productos/modulos/quick-xcbt.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickx']">QUICK XCBT</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickc']" src="../../../../../assets/images/imagenes-productos/modulos/quick-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickc']">QUICK COUNTER</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quicks']" src="../../../../../assets/images/imagenes-productos/modulos/quick-show-case.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quicks']">QUICK SHOWCASE</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickd']" src="../../../../../assets/images/imagenes-productos/modulos/quick-desk.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickd']">QUICK DESK</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/simplec']" src="../../../../../assets/images/imagenes-productos/modulos/simple-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/simplec']">SIMPLE COUNER</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/microc']"  src="../../../../../assets/images/imagenes-productos/modulos/micro-counter.jpg" class="hvr-grow" >
            </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/microc']">MICRO COUNTER</a> </div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickr']" src="../../../../../assets/images/imagenes-productos/modulos/quick-rack.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickr']">QUICK RACK</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickw']" src="../../../../../assets/images/imagenes-productos/modulos/quick-work-station.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickw']">QUICK WORKSTATION</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/minisimple']" src="../../../../../assets/images/imagenes-productos/modulos/mini-simple-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/minisimple']">MINI SIMPLE COUNTER</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/shellc']" src="../../../../../assets/images/imagenes-productos/modulos/shell-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/shellc']">SHELL COUNTER</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickx']" src="../../../../../assets/images/imagenes-productos/modulos/quick-xcbt.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickx']">QUICK XCBT</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickc']" src="../../../../../assets/images/imagenes-productos/modulos/quick-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickc']">QUICK COUNTER</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quicks']" src="../../../../../assets/images/imagenes-productos/modulos/quick-show-case.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quicks']">QUICK SHOWCASE</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/quickd']" src="../../../../../assets/images/imagenes-productos/modulos/quick-desk.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/quickd']">QUICK DESK</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/simplec']" src="../../../../../assets/images/imagenes-productos/modulos/simple-counter.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/simplec']">SIMPLE COUNER</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
