<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/mini-simple-counter.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/mini-simple-counter.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>MINISIMPLE COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>El Mini Simple Counter el pequeño gigante de los stands portátiles en el mundo, es la mejor solución, ya que en el mismo modulo se encuentran ruedas y puertas, así como una mesa de trabajo, 2 repisas internas y una gran superficie para promocionar su marca.

Es el producto perfecto por su tamaño, peso y portabilidad.

<strong>Medidas / armado</strong>
Frente:  69 cm
Altura:   92 cm
Fondo:  43 cm
Altura total:  206 cm

<strong>Medidas / cerrado</strong>
Frente:  48 cm
Altura:   96 cm
Fondo:  12 cm
Peso:    8 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete:  74 cm
 de ancho x 26 cm de alto
Cuerpo:  39 cm de ancho x 79 cm de alto
Gráficos laterales: 29 cm de ancho
x 79 cm de alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>MINISIMPLE COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>El Mini Simple Counter el pequeño gigante de los stands portátiles en el mundo, es la mejor solución, ya que en el mismo modulo se encuentran ruedas y puertas, así como una mesa de trabajo, 2 repisas internas y una gran superficie para promocionar su marca.

Es el producto perfecto por su tamaño, peso y portabilidad.

<strong>Medidas / armado</strong>
Frente:  69 cm
Altura:   92 cm
Fondo:  43 cm
Altura total:  206 cm

<strong>Medidas / cerrado</strong>
Frente:  48 cm
Altura:   96 cm
Fondo:  12 cm
Peso:    8 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete:  74 cm
  de ancho x 26 cm de alto
Cuerpo:  39 cm de ancho x 79 cm de alto
Gráficos laterales: 29 cm de ancho
x 79 cm de alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
