<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-desk.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-desk.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK DESK</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Quick Desk es la mesa portable más completa y moderna del mercado. Ofrece comodidad, privacidad y formalidad para atraer la atención de tus clientes.

Este módulo transforma cualquier espacio en una cómoda área de trabajo donde puedes sentarte a charlar con tus clientes y mostrarles las ventajas de tus productos o cerrar un trato con la requerida formalidad.

<strong>Medidas / armado</strong>
Frente:  85 cm
Altura:   180 cm
Fondo:  85 cm

<strong>Medidas / cerrado</strong>
Frente:  85 cm
Altura:   85 cm
Fondo:  10 cm
Peso:    16 kg

<strong>Medidas del área gráfica</strong>
Copete: 89.5 cm de ancho x 18 cm de alto
Cuerpo formado por 2 partes:
A. 66 cm de ancho x 68 cm de alto, c/u
2 laterales superiores:
B. 18 cm de ancho x 98 cm de alto
2 laterales inferiores:
C. 18 cm de ancho x 80 cm de alto
Área que cubre el portafolio:
D. 11.5 cm de ancho x 10 cm de alto,por cada lado </pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK DESK</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Quick Desk es la mesa portable más completa y moderna del mercado. Ofrece comodidad, privacidad y formalidad para atraer la atención de tus clientes.

Este módulo transforma cualquier espacio en una cómoda área de trabajo donde puedes sentarte a charlar con tus clientes y mostrarles las ventajas de tus productos o cerrar un trato con la requerida formalidad.

<strong>Medidas / armado</strong>
Frente:  85 cm
Altura:   180 cm
Fondo:  85 cm

<strong>Medidas / cerrado</strong>
Frente:  85 cm
Altura:   85 cm
Fondo:  10 cm
Peso:    16 kg

<strong>Medidas del área gráfica</strong>
Copete: 89.5 cm de ancho x 18 cm de alto
Cuerpo formado por 2 partes:
A. 66 cm de ancho x 68 cm de alto, c/u
2 laterales superiores:
B. 18 cm de ancho x 98 cm de alto
2 laterales inferiores:
C. 18 cm de ancho x 80 cm de alto
Área que cubre el portafolio:
D. 11.5 cm de ancho x 10 cm de alto,por cada lado </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
