<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-work-station.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-work-station.jpg" alt="" >
          </div>
        </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK WORKSTATION</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Puedes tener todo lo que necesitas para promocionar tus productos y servicios en el punto de venta con el Quick WorkStation, un completo módulo plegable, donde puedes hacer negocios y crear reconocimiento de marca.

Es una gran opción para promocionar en centros comerciales, ya que cumple las necesidades de espacio. Incluye un área para escribir y espacios donde puedes instalar una computadora o impresora fácilmente

<strong>Medidas / armado</strong>
Frente:  77 cm
Altura a la mesa:  90 cm
Fondo:  60 cm
Altura total:  179 cm

<strong>Medidas / cerrado</strong>
Frente:  60 cm
Altura:   96 cm
Fondo:  13 cm
Peso:    15 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete: 54.5 cm de ancho x 13 cm de alto
Lat. interior: 53 cm de ancho x 65.5 cm de alto
Lat. exterior: 54.5 cm de ancho x 161.5 cm de alto
Frente: 49 cm de ancho x 75 cm de alto
Opción 1: 37 cm de ancho x 71 cm de alto
Opción 2: 37 cm de ancho x 50 cm de alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK WORKSTATION</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Puedes tener todo lo que necesitas para promocionar tus productos y servicios en el punto de venta con el Quick WorkStation, un completo módulo plegable, donde puedes hacer negocios y crear reconocimiento de marca.

Es una gran opción para promocionar en centros comerciales, ya que cumple las necesidades de espacio. Incluye un área para escribir y espacios donde puedes instalar una computadora o impresora fácilmente

<strong>Medidas / armado</strong>
Frente:  77 cm
Altura a la mesa:  90 cm
Fondo:  60 cm
Altura total:  179 cm

<strong>Medidas / cerrado</strong>
Frente:  60 cm
Altura:   96 cm
Fondo:  13 cm
Peso:    15 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete: 54.5 cm de ancho x 13 cm de alto
Lat. interior: 53 cm de ancho x 65.5 cm de alto
Lat. exterior: 54.5 cm de ancho x 161.5 cm de alto
Frente: 49 cm de ancho x 75 cm de alto
Opción 1: 37 cm de ancho x 71 cm de alto
Opción 2: 37 cm de ancho x 50 cm de alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
