<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-counter.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-counter.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Con un peso de 12 kg y un diseño ergonómico, Quick Counter es ideal para el trabajo de pie. Es fabricado con material de alta calidad y resistencia.

Con Quick Counter podrás usar un solo módulo, o con más de uno, armar una isla multifuncional de módulos.

Si promocionaras un punto de venta, no lo pienses más. Quick Counter es módulo práctico, portable, ligero y versátil que necesitas.

<strong>Medidas / armado</strong>
Frente:  90 cm
Altura:   90 cm
Fondo:  45 cm
Altura total:  203 cm

<strong>Medidas / cerrado</strong>
Frente:  90 cm
Altura:   45 cm
Fondo:  10 cm
Peso:    12 kg

<strong>Medidas del área gráfica</strong>
Copete:  75 cm de ancho x 25 cm de alto
Cuerpo:  75 cm de ancho x 75 cm de alto
Lateral: 33 cm de ancho x 75 cm de alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Con un peso de 12 kg y un diseño ergonómico, Quick Counter es ideal para el trabajo de pie. Es fabricado con material de alta calidad y resistencia.

Con Quick Counter podrás usar un solo módulo, o con más de uno, armar una isla multifuncional de módulos.

Si promocionaras un punto de venta, no lo pienses más. Quick Counter es módulo práctico, portable, ligero y versátil que necesitas.

<strong>Medidas / armado</strong>
Frente:  90 cm
Altura:   90 cm
Fondo:  45 cm
Altura total:  203 cm

<strong>Medidas / cerrado</strong>
Frente:  90 cm
Altura:   45 cm
Fondo:  10 cm
Peso:    12 kg

<strong>Medidas del área gráfica</strong>
Copete:  75 cm de ancho x 25 cm de alto
Cuerpo:  75 cm de ancho x 75 cm de alto
Lateral: 33 cm de ancho x 75 cm de alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
