<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-xcbt.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-xcbt.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK XCBT</h2>
            </div>
            <div class="descripcion-producto">
              <pre>El Quick XCBT es la vitrina portátil más grande del mercado, elegante y sumamente funcional, sus 6 repisas de gran tamaño, son ideales para promocionar y exhibir sus productos o servicios.

Sumamente portátil, fácil de armar el Quick XCBT le ayudara a que su marca se distinga del resto.

<strong>Medidas / armado</strong>
Frente: 55 cm
Altura: 178 cm
Fondo: 32 cm

<strong>Medidas / cerrado</strong>
Frente: 55 cm
Altura: 89 cm
Fondo: 13 cm
Peso: 17 kg

<strong>Medidas del área gráfica</strong>
Copete: 53 cm de ancho x 9 cm de alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK XCBT</h2>
            </div>
            <div class="descripcion-producto">
              <pre>El Quick XCBT es la vitrina portátil más grande del mercado, elegante y sumamente funcional, sus 6 repisas de gran tamaño, son ideales para promocionar y exhibir sus productos o servicios.

Sumamente portátil, fácil de armar el Quick XCBT le ayudara a que su marca se distinga del resto.

<strong>Medidas / armado</strong>
Frente: 55 cm
Altura: 178 cm
Fondo: 32 cm

<strong>Medidas / cerrado</strong>
Frente: 55 cm
Altura: 89 cm
Fondo: 13 cm
Peso: 17 kg

<strong>Medidas del área gráfica</strong>
Copete: 53 cm de ancho x 9 cm de alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
