<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-show-case.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-show-case.jpg" alt="" >
          </div>
        </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK SHOWCASE</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Quick Show Case se originó por la necesidad de una solución práctica que se adaptará a la necesidad particular de tu negocio. Es ideal para exhibir celulares, joyería y esos artículos de valor que necesitan protección mientras son exhibidos.

Incluye una mesa la cual puede ser desplegada para papeleo, firmar o cualquier tarea que involucre escribir.

<strong>Medidas / armado</strong>
Frente:  60 cm
Fondo:  51 cm
Altura total:  179 cm

<strong>Medidas / cerrado</strong>
Frente:  60 cm
Altura:   90 cm
Fondo:  15 cm
Peso:    16 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete: 53.5 cm de ancho x 23 cm de alto
Cuerpo: 27 cm de ancho x 121.5 cm de alto
Superior: 27 cm ancho x 62 cm alto
Inferior: 27 cm ancho x 59 cm alto
Pedestal: 57 cm ancho x 26 cm alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK SHOWCASE</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Quick Show Case se originó por la necesidad de una solución práctica que se adaptará a la necesidad particular de tu negocio. Es ideal para exhibir celulares, joyería y esos artículos de valor que necesitan protección mientras son exhibidos.

Incluye una mesa la cual puede ser desplegada para papeleo, firmar o cualquier tarea que involucre escribir.

<strong>Medidas / armado</strong>
Frente:  60 cm
Fondo:  51 cm
Altura total:  179 cm

<strong>Medidas / cerrado</strong>
Frente:  60 cm
Altura:   90 cm
Fondo:  15 cm
Peso:    16 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete: 53.5 cm de ancho x 23 cm de alto
Cuerpo: 27 cm de ancho x 121.5 cm de alto
Superior: 27 cm ancho x 62 cm alto
Inferior: 27 cm ancho x 59 cm alto
Pedestal: 57 cm ancho x 26 cm alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
