<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-rack.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/quick-rack.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK RACK</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Quick Rack es un innovador módulo dos en uno que te permite exhibir tu producto y crear reconocimiento de marca. Se convierte en un banner con un área grafica de 170 x 60 cm.

Para exhibir tus productos, únicamente tienes que voltear cualquiera de las cuatro secciones del banner en posición de repisas, las cuales pueden ser ajustadas a diferentes ángulos para adaptarse a las diferentes características de tu producto. Tu imagen siempre estará presente en la base y la cabecera, y mientras se agotan tus productos de las repisas, puedes rotarlos a su posición original para reforzar el reconocimiento de marca.

<strong>Medidas / armado</strong>
Frente:  61 cm
Altura:   171 cm
Fondo:  16.5 cm

<strong>Medidas / cerrado</strong>
Frente:  61 cm
Altura:   85 cm
Fondo:  11.5 cm
Peso:    9 kg
Repisa interior:
54.5 cm x 20 cm

<strong>Medidas del área gráfica</strong>
Copete:  55 cm de ancho x 25.5 cm de alto
Cuerpo:  55 cm de ancho x 94 cm de alto
(4 secciones de 55 cm x 23.5 cm)
Pedestal: 52.5 cm de ancho x 27.5 cm de alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>QUICK RACK</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Quick Rack es un innovador módulo dos en uno que te permite exhibir tu producto y crear reconocimiento de marca. Se convierte en un banner con un área grafica de 170 x 60 cm.

Para exhibir tus productos, únicamente tienes que voltear cualquiera de las cuatro secciones del banner en posición de repisas, las cuales pueden ser ajustadas a diferentes ángulos para adaptarse a las diferentes características de tu producto. Tu imagen siempre estará presente en la base y la cabecera, y mientras se agotan tus productos de las repisas, puedes rotarlos a su posición original para reforzar el reconocimiento de marca.

<strong>Medidas / armado</strong>
Frente:  61 cm
Altura:   171 cm
Fondo:  16.5 cm

<strong>Medidas / cerrado</strong>
Frente:  61 cm
Altura:   85 cm
Fondo:  11.5 cm
Peso:    9 kg
Repisa interior:
54.5 cm x 20 cm

<strong>Medidas del área gráfica</strong>
Copete:  55 cm de ancho x 25.5 cm de alto
Cuerpo:  55 cm de ancho x 94 cm de alto
(4 secciones de 55 cm x 23.5 cm)
Pedestal: 52.5 cm de ancho x 27.5 cm de alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
