<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/shell-counter.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/shell-counter.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>SHELL COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Es útil para demostrar un sinfín de productos, además de ser módulo portátil fabricado con plástico de ingeniería de nueva tecnología y nuevos procesos de fabricación, resistente al impacto, el cual presenta un menor desgaste y una imagen contemporánea.


<strong>Medidas / armado</strong>
Frente:  85 cm
Altura a la mesa: 90 cm
Fondo:  50 cm
Altura total:  198 cm

<strong>Medidas / cerrado</strong>
Frente:  85 cm
Altura:   50 cm
Fondo:  11 cm
Peso:    11 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete:  69 cm de ancho x 23 cm de alto
Cuerpo:  72 cm de ancho x 78 cm de alto
Gráficos laterales:  29 cm de ancho x
78 cm de alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>SHELL COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Es útil para demostrar un sinfín de productos, además de ser módulo portátil fabricado con plástico de ingeniería de nueva tecnología y nuevos procesos de fabricación, resistente al impacto, el cual presenta un menor desgaste y una imagen contemporánea.


<strong>Medidas / armado</strong>
Frente:  85 cm
Altura a la mesa: 90 cm
Fondo:  50 cm
Altura total:  198 cm

<strong>Medidas / cerrado</strong>
Frente:  85 cm
Altura:   50 cm
Fondo:  11 cm
Peso:    11 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete:  69 cm de ancho x 23 cm de alto
Cuerpo:  72 cm de ancho x 78 cm de alto
Gráficos laterales:  29 cm de ancho x
78 cm de alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
