<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/modulos/simple-counter.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/modulos/simple-counter.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>SIMPLE COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Es la solución a todos sus requerimientos de promoción.

Es portátil: Tiene una práctica funda de lona que lo protege y permite cargarlo y transportarlo
fácilmente, ya que cuenta con ruedas.

Es ligero: Pesa sólo 13 kg

Es práctico: Es fácil de armar y de limpiar.

Es versátil: Es útil para demostrar un sinfín de productos, además de ser el módulo portátil con menos piezas sueltas, cuenta con ruedas y puertas, se arma fácilmente lo que ofrece una excelente relación costo-beneficio.


<strong>Medidas / armado</strong>
Frente:  91 cm
Altura:   91.5 cm
Fondo:  39 cm
Altura total:  205 cm

<strong>Medidas / cerrado</strong>
Frente:  45 cm
Altura:   93 cm
Fondo:  15 cm
Peso:    13 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete:  74 cm ancho x 26 cm alto
Cuerpo:  75 cm ancho x 80 cm alto
Gráficos laterales: 32 cm ancho x 80 cm alto</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>SIMPLE COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Es la solución a todos sus requerimientos de promoción.

Es portátil: Tiene una práctica funda de lona que lo protege y permite cargarlo y transportarlo
fácilmente, ya que cuenta con ruedas.

Es ligero: Pesa sólo 13 kg

Es práctico: Es fácil de armar y de limpiar.

Es versátil: Es útil para demostrar un sinfín de productos, además de ser el módulo portátil con menos piezas sueltas, cuenta con ruedas y puertas, se arma fácilmente lo que ofrece una excelente relación costo-beneficio.


<strong>Medidas / armado</strong>
Frente:  91 cm
Altura:   91.5 cm
Fondo:  39 cm
Altura total:  205 cm

<strong>Medidas / cerrado</strong>
Frente:  45 cm
Altura:   93 cm
Fondo:  15 cm
Peso:    13 kg aprox.

<strong>Medidas del área gráfica</strong>
Copete:  74 cm ancho x 26 cm alto
Cuerpo:  75 cm ancho x 80 cm alto
Gráficos laterales: 32 cm ancho x 80 cm alto</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
