<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../assets/images/imagenes-productos/modulos/micro-counter.jpg" alt="" >
          </div>
        </div>
        <div class="col-12 mobile">
            <div class="imagen-producto">
              <img src="../../../../../assets/images/imagenes-productos/modulos/micro-counter.jpg" alt="" >
            </div>
          </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>MICRO COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Práctico, ultraligero y versátil. MicroCounter es el módulo más fácil de armar del mercado. Solo pesa 6 kg y puede soportar hasta 40 kg en su superficie de trabajo. Lo más importante: ¡Puede armarse en menos de 2 minutos!

MicroCounter te hace sobresalir de la competencia. Es fabricado con materiales de alta calidad y gran resistencia, siendo al mismo tiempo ultraligero.

<strong>Medidas / armado</strong>
Frente:  69.5 cm
Altura:   82 cm
Fondo:  43.5 cm
Altura total:  188 cm <br>
<strong>Medidas / cerrado</strong>
Frente:  69.5 cm
Altura:   54 cm
Fondo:  10 cm
Peso:    8 kg aprox. <br>
<strong>Medidas del área gráfica</strong>
Copete:  56 cm
de ancho x 23 cm de alto
Cuerpo:  62 cm de ancho x 75 cm de alto
Gráficos laterales: 25.5 cm ancho
x 75 cm alto (dividido en 2 piezas)</pre>
            </div>
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>MICRO COUNTER</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Práctico, ultraligero y versátil. MicroCounter es el módulo más fácil de armar del mercado. Solo pesa 6 kg y puede soportar hasta 40 kg en su superficie de trabajo. Lo más importante: ¡Puede armarse en menos de 2 minutos!

MicroCounter te hace sobresalir de la competencia. Es fabricado con materiales de alta calidad y gran resistencia, siendo al mismo tiempo ultraligero.

<strong>Medidas / armado</strong>
Frente:  69.5 cm
Altura:   82 cm
Fondo:  43.5 cm
Altura total:  188 cm <br>
<strong>Medidas / cerrado</strong>
Frente:  69.5 cm
Altura:   54 cm
Fondo:  10 cm
Peso:    8 kg aprox. <br>
<strong>Medidas del área gráfica</strong>
Copete:  56 cm
de ancho x 23 cm de alto
Cuerpo:  62 cm de ancho x 75 cm de alto
Gráficos laterales: 25.5 cm ancho
x 75 cm alto (dividido en 2 piezas)</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
