<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="display-header-container">
        <div class="banner-container">
          <img  src="../../../../../assets/images/productos/portamenus-banner.jpg" alt="">
          <div class="banner-title">
            <h1>PORTAMENUS</h1>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/pmbasico']" src="../../../../../assets/images/imagenes-productos/Portamenus/Basicos/Menu-Basico-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/pmbasico']">BÁSICO</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/exhibidoresm']" src="../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/exhibidoresm']">EXHIBIDORES DE MESA</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/exhibidoresl']" src="../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores Luminosos/Exhibidores-Luminosos-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/exhibidoresl']">EXHIBIDORES LUMINOSOS</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/personalizados']" src="../../../../../assets/images/imagenes-productos/Portamenus/Personalizados/Personalizados-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/personalizados']">PERSONALIZADOS</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/pmbasico']" src="../../../../../assets/images/imagenes-productos/Portamenus/Basicos/Menu-Basico-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/pmbasico']">BÁSICO</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/exhibidoresm']" src="../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/exhibidoresm']">EXHIBIDORES DE MESA</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/exhibidoresl']" src="../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores Luminosos/Exhibidores-Luminosos-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/exhibidoresl']">EXHIBIDORES LUMINOSOS</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/personalizados']" src="../../../../../assets/images/imagenes-productos/Portamenus/Personalizados/Personalizados-01.jpg" class="">
            </div>
            <div class="categoria"><a class="link " [routerLink]="['/productos/personalizados']">PERSONALIZADOS</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
