<div class="container-fluid header-container">
  <div class="row">
    <div class="col-12 header-contenido desktop">
      <!-- <ngu-carousel
        [inputs]="carouselBanner"
         class="top">

        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <img src="../../../../assets/images/home/banner pag portada.jpg" style="width: 100%;"alt="">
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <img src="../../../../assets/images/home/banner pag canvas 04.jpg"style="width: 100%;" alt="">
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <img src="../../../../assets/images/home/banner pag tela.jpg" style="width: 100%;"alt="">
          </div>
        </ngu-item>
        <a NguCarouselPrev class='carousel-control-next'><span class="carousel-control-next-icon"></span></a>
        <a NguCarouselNext class='carousel-control-prev'><span class="carousel-control-prev-icon"></span></a>
      </ngu-carousel> -->
      <ngb-carousel class="top">
          <ng-template ngbSlide>
              <img src="../../../../assets/images/home/banner pag portada.jpg" style="width: 100%;"alt="">
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../../../assets/images/home/banner pag canvas 04.jpg"style="width: 100%;" alt="">
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../../../assets/images/home/banner pag tela.jpg" style="width: 100%;"alt="">
          </ng-template>
        </ngb-carousel>
    </div>
    <div class="col-12 header-contenido mobile">
      <!-- <ngu-carousel
        [inputs]="carouselBanner"
         class="top">

        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <img src="../../../../assets/images/home/banner pag portada.jpg" style="width: 100%;"alt="">
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <img src="../../../../assets/images/home/banner pag canvas 04.jpg"style="width: 100%;" alt="">
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <img src="../../../../assets/images/home/banner pag tela.jpg" style="width: 100%;"alt="">
          </div>
        </ngu-item>
        <a NguCarouselPrev class='carousel-control-next'><span class="carousel-control-next-icon"></span></a>
        <a NguCarouselNext class='carousel-control-prev'><span class="carousel-control-prev-icon"></span></a>
      </ngu-carousel> -->
      <ngb-carousel class="top">
        <ng-template ngbSlide>
            <img src="../../../../assets/images/home/banner pag portada para movil.jpg" style="width: 100%;"alt="">
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../../assets/images/home/banner pag canvas 04 para movil.jpg"style="width: 100%;" alt="">
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../../assets/images/home/banner pag tela para movil.jpg" style="width: 100%;"alt="">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>



