<div class="container-fluid contenedor-empresa">
  <div class="row desktop">
    <div class="col-6 col-md-3 plus">
      <img src="../../../../assets/images/home/home-empresa-calidad.png" alt="">
      <h5>CALIDAD</h5>

    </div>
    <div class="col-6 col-md-3 plus">
      <img src="../../../../assets/images/home/home-empresa-foco.png" alt="">
      <h5>CREATIVIDAD</h5>

    </div>
    <div class="col-6 col-md-3 plus">
      <img src="../../../../assets/images/home/home-empresa-servicio.png" alt="">
      <h5>SERVICIO</h5>

    </div>
    <div class="col-6 col-md-3 plus">
      <img src="../../../../assets/images/home/home-empresa-responsabilidad.png" alt="">
      <h5>RESPONSABILIDAD</h5>

    </div>
  </div>
  <div class="row mobile">
      <!-- <div class="col-12">
        <div class="card">
          <div class="card-img-top">
            <img src="../../../../assets/images/home/iconos movil1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-3 tex">CALIDAD</div>
      <div class="col-3 tex">CRETIVIDAD</div>
      <div class="col-3 tex">SERVICIO</div>
      <div class="col-3 tex">RESPONSABILIDAD</div> -->
      <div class="col-3">
        <div class="card">
          <div class="card-img-top">
            <img alt="" src="../../../../assets/images/home/icono 01.png">
          </div>
          <div class="card-body pri">
            <h5 class="card-title">CALIDAD</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-img-top">
            <img alt="" src="../../../../assets/images/home/icono 02.png">
          </div>
          <div class="card-body pri">
            <h5 class="card-title">CREATIVIDAD</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-img-top">
            <img alt="" src="../../../../assets/images/home/icono 03.png">
          </div>
          <div class="card-body pri">
            <h5 class="card-title">SERVICIO</h5>
          </div>
        </div>
      </div>
      <div class="col-3" style="padding: 0">
        <div class="card">
          <div class="card-img-top respo">
            <img alt="" src="../../../../assets/images/home/icono 04.png" >
          </div>
          <div class="card-body sec">
            <h5 class="card-title">RESPONSABILIDAD</h5>
          </div>
        </div>
      </div>
    </div>
  <app-home-nuestros-clientes></app-home-nuestros-clientes>
</div>
