<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="display-header-container">
        <div class="banner-container">
          <img  src="../../../../../assets/images/productos/Displays-01.jpg" alt="">
          <div class="banner-title" style="background: black">
            <h1>DISPLAYS</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up']" src="../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-02.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/roll-up']">ROLL UP</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flags']"src="../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-04.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flags']">FLAGS</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/banners']" src="../../../../../assets/images/imagenes-productos/Displays/Banner Int - Ext/Interior/01.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/banners']">BANNERS</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/mochila']" src="../../../../../assets/images/imagenes-productos/Displays/Billboard/Pagina Web - ExpoFly-07.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/mochila']">MOCHILAS BILLBOARD</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flexo-stands']" src="../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/05.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flexo-stands']">FLEXO STANDS</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/frames']" src="../../../../../assets/images/imagenes-productos/Displays/Frames/04.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/frames']">FRAMES</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up']" src="../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-02.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/roll-up']">ROLL UP</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flags']"src="../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-04.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flags']">FLAGS</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/banners']" src="../../../../../assets/images/imagenes-productos/Displays/Banner Int - Ext/Interior/01.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/banners']">BANNERS</a></div>
          </div>
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/mochila']" src="../../../../../assets/images/imagenes-productos/Displays/Billboard/Pagina Web - ExpoFly-07.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/mochila']">MOCHILAS BILLBOARD</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flexo-stands']" src="../../../../../assets/images/imagenes-productos/Displays/Flexo Stand/05.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flexo-stands']">FLEXO STANDS</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/frames']" src="../../../../../assets/images/imagenes-productos/Displays/Frames/04.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/frames']">FRAMES</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
