<div class="row">
  <div class="col-12 contenedor-nuestros-clientes">
    <div class="contenido-nuestros-clientes">
      <h5>LO QUE DICEN NUESTROS CLIENTES</h5>
      <!-- <ngu-carousel
        [inputs]="carouselBanner"
        (onMove)="onmoveFn($event)">

        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <h3>LAV Hiram Paniagua - <span>Jefe de departamento Liverpool Tampico</span></h3>
            <p>"Excelente atención, siempre muy profesionales. Productos y servicios de la mejor calidad."</p>
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <h3>Melchor Segura - <span>Jefe de seguridad y vigilancia Erachem</span></h3>
            <p>"Son una empresa que resuelven necesidades de imagen y publicidad con diseños creativos 100%
              eficaces."</p>
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <h3>Anabel Gutierrez - <span>Coordinadora de centros comerciales de Grupo frisa</span></h3>
            <p>"Excelente servicio, puntualidad, buen trato , amabilidad."</p>
          </div>
        </ngu-item>
        <ngu-item NguCarouselItem class="bannerStyle">
          <div class="comentario-cliente">
            <h3>Jennifer castillo - <span>Marketing Altama City center</span></h3>
            <p>"los productos y servicios que manejan son muy buenos , el servicio que ofrecen es excelente siempre
              están al pendiente de todos los detalles para que salga perfecto "</p>
          </div>
        </ngu-item>

        <button NguCarouselPrev class='leftRs'><span class="fa fa-angle-left"></span></button>
        <button NguCarouselNext class='rightRs'><span class="fa fa-angle-right"></span></button>
      </ngu-carousel> -->
      <ngb-carousel class="top">
        <ng-template ngbSlide>
          <div class="comentario-cliente">
            <h3>LAV Hiram Paniagua - <span>Jefe de departamento Liverpool Tampico</span></h3>
              <p>"Excelente atención, siempre muy profesionales. Productos y servicios de la mejor calidad."</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="comentario-cliente">
            <h3>Melchor Segura - <span>Jefe de seguridad y vigilancia Erachem</span></h3>
              <p>"Son una empresa que resuelven necesidades de imagen y publicidad con diseños creativos 100%
                eficaces."</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="comentario-cliente">
            <h3>Anabel Gutierrez - <span>Coordinadora de centros comerciales de Grupo frisa</span></h3>
              <p>"Excelente servicio, puntualidad, buen trato , amabilidad."</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="comentario-cliente">
            <h3>Jennifer castillo - <span>Marketing Altama City center</span></h3>
              <p>"los productos y servicios que manejan son muy buenos , el servicio que ofrecen es excelente siempre
                están al pendiente de todos los detalles para que salga perfecto "</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
