<div class="contenido-categorias-display">
    <div class="row">
      <div class="col-12">
          <div class="display-header-container">
              <div class="banner-container">
                <img  src="../../../../../assets/images/productos/modulos-01.jpg" alt="">
                <div class="banner-title">
                  <h1>PORTAMENUS</h1>
                </div>
              </div>
            </div>
        <div class="row ">
          <div class="col-4 desktop">
            <div class="imagen-producto">
              <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-01.jpg" alt="" >
            </div>
          </div>
          <div class="col-8 contenedor-detalles desktop">
            <div class="contenido-detalles-producto">
              <div class="titulo-producto">
                <h2>EXHIBIDORES DE MESA</h2>
              </div>
              <div class="descripcion-producto">
                <pre>Perfectos para presentar sus promociones.
Elije entre las diferentes alternativas de materiales y cubiertas de chip becerro para crear contraste;  lleva una trabilla en la base para mantenerla abierta.
Adiciona cabecera para colocar su logotipo.
Aumenta a 3 vistas el exhibidor de mesa.
                  </pre>
              </div>
              <div class="row">
                <div class="imagenes-menus col-4">
                  <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-01.jpg" alt="">
                </div>
                <div class="imagenes-menus col-4">
                  <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-02.jpg" alt="">
                </div>
                <div class="imagenes-menus col-4">
                  <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-03.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 contenedor-detalles mobile">
            <div class="contenido-detalles-producto">
              <div class="titulo-producto">
                <h2>EXHIBIDORES DE MESA</h2>
              </div>
              <div class="descripcion-producto">
                <pre>Perfectos para presentar sus promociones.
Elije entre las diferentes alternativas de materiales y cubiertas de chip becerro para crear contraste;  lleva una trabilla en la base para mantenerla abierta.
Adiciona cabecera para colocar su logotipo.
Aumenta a 3 vistas el exhibidor de mesa.
                  </pre>
              </div>
              <div class="row">
                <div class="imagenes-menus col-12">
                  <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-01.jpg" alt="">
                </div>
                <div class="imagenes-menus col-12">
                  <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-02.jpg" alt="">
                </div>
                <div class="imagenes-menus col-12">
                  <img src="../../../../../../assets/images/imagenes-productos/Portamenus/Exhibidores de Mesa/Exhibidores-de-Mesa-03.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
