<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="display-header-container">
        <div class="banner-container">
          <img  src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/roll-up-banner-01.jpg" alt="">
          <div class="banner-title">
            <h1>ROLL UP</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up-standard']"  src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-01.jpg" class="producto hvr-grow" >
            </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/roll-up-standard']">ROLL UP ESTANTARD</a> </div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up-2vistas']" src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-04.jpg" class="producto hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/roll-up-2vistas']">ROLL UP 2 VISTAS</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up-2vistasext']" src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-05.jpg" class="producto hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/roll-up-2vistasext']">ROLL UP 2 VISTAS EXTERIOR</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up-standard']"  src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-01.jpg" class="producto hvr-grow" >
            </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/roll-up-standard']">ROLL UP ESTANTARD</a> </div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up-2vistas']" src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-04.jpg" class="producto hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/roll-up-2vistas']">ROLL UP 2 VISTAS</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/roll-up-2vistasext']" src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-05.jpg" class="producto hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/roll-up-2vistasext']">ROLL UP 2 VISTAS EXTERIOR</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
