<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="row ">
        <div class="col-12 mobile">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-01.jpg" alt="">
          </div>
        </div>
        <div class="col-4 desktop">
          <div class="imagen-producto">
            <img src="../../../../../../assets/images/imagenes-productos/Displays/Roll-Up/Roll-Up-01.jpg" alt="">
          </div>
        </div>
        <div class="col-12 contenedor-detalles mobile">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>ROLL UP ESTANTARD</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Roll Up de una vista. El gráfico es sostenido mediante un poste de aluminio en su parte trasera y cuenta con un sistema de enrollado automático. La estructura está hecha a base de aluminio ligero.</pre>
            </div>
            <div class="incluye">
              <ul>
                <li >Incluye: <span> Maleta de polyester.</span></li>
                <li >No Incluye: <span> Gráfico</span></li>
              </ul>
            </div>
            <div class="if-impresion">
              <div class="lista-impresion">
                <div class="impresion-material">
                  <div class="heading-h3">
                    <h3>Material</h3>
                  </div>
                  <ul class="ul-impresion">
                    <li>- Lona</li>
                    <li>- Tela</li>
                    <li>- Easy-Banner</li>
                    <li>- Papel Couche</li>
                  </ul>
                </div>
              </div>
              <div class="lista-impresion">
                <div class="impresion-sistema">
                  <div class="heading-h3">
                    <h3>Impresión</h3>
                  </div>
                  <ul class="ul-impresion">
                    <li>- Sublimada</li>
                    <li>- Latex</li>
                    <li>- Vinil Textil</li>
                    <li>- Serigrafía</li>
                    <li>- Sublimación</li>
                  </ul>
                </div>
              </div>
              <div class="lista-impresion">
                <div class="medidas">
                  <div class="heading-h3">
                    <h3>Medidas</h3>
                  </div>
                  <ul class="ul-impresion">
                    <li>85 x 200 cm</li>
                    <li>120 x 200 cm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 contenedor-detalles desktop">
          <div class="contenido-detalles-producto">
            <div class="titulo-producto">
              <h2>ROLL UP ESTANTARD</h2>
            </div>
            <div class="descripcion-producto">
              <pre>Roll Up de una vista. El gráfico es sostenido mediante un poste de aluminio en su parte trasera y cuenta con un sistema de enrollado automático. La estructura está hecha a base de aluminio ligero.</pre>
            </div>
            <div class="incluye">
              <ul>
                <li >Incluye: <span> Maleta de polyester.</span></li>
                <li >No Incluye: <span> Gráfico</span></li>
              </ul>
            </div>
            <div class="if-impresion">
              <div class="lista-impresion">
                <div class="impresion-material">
                  <div class="heading-h3">
                    <h3>Material</h3>
                  </div>
                  <ul class="ul-impresion">
                    <li>- Lona</li>
                    <li>- Tela</li>
                    <li>- Easy-Banner</li>
                    <li>- Papel Couche</li>
                  </ul>
                </div>
                <div class="impresion-sistema">
                  <div class="heading-h3">
                    <h3>Impresión</h3>
                  </div>
                  <ul class="ul-impresion">
                    <li>- Sublimada</li>
                    <li>- Latex</li>
                    <li>- Vinil Textil</li>
                    <li>- Serigrafía</li>
                    <li>- Sublimación</li>
                  </ul>
                </div>
                <div class="medidas">
                  <div class="heading-h3">
                    <h3>Medidas</h3>
                  </div>
                  <ul class="ul-impresion">
                    <li>85 x 200 cm</li>
                    <li>120 x 200 cm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--<div class="container-fluid contenedor-detalle-producto" *ngIf="!loading">-->
  <!--<div class="row">-->
    <!--<div class="col-10 offset-1 contenido-detalle-producto">-->
      <!--<div class="row">-->
        <!--<div class="col-4">-->
          <!--<div class="imagen-producto">-->
            <!--<img src="{{sharedService.URL}}/api/productos/detalles-displays/{{display?.imagen}}" alt="">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-8 contenedor-detalles">-->
          <!--<div class="contenido-detalles-producto">-->
            <!--<div class="titulo-producto">-->
              <!--<h2>{{display?.nombre}}</h2>-->
            <!--</div>-->
            <!--<div class="descripcion-producto">-->
              <!--<pre>{{display?.descripcion}}</pre>-->
            <!--</div>-->
            <!--<div class="incluye">-->
              <!--<ul>-->
                <!--<li *ngIf="incluye">Incluye: <span> {{incluye}}</span></li>-->
                <!--<li *ngIf="noIncluye">No Incluye: <span> {{noIncluye}}</span></li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div *ngIf="medidas !== undefined && esImpresion === false" class="medidas w-25">-->
              <!--<div class="heading-h3">-->
                <!--<h3>Medidas</h3>-->
              <!--</div>-->
              <!--<ul class="ul-impresion">-->
                <!--<li *ngFor="let medida of medidas">{{medida.medida}}</li>-->
                <!--<li></li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div *ngIf="esImpresion" class="if-impresion">-->
              <!--<div class="lista-impresion">-->
                <!--<div class="impresion-material">-->
                  <!--<div class="heading-h3">-->
                    <!--<h3>Material</h3>-->
                  <!--</div>-->
                  <!--<ul class="ul-impresion">-->
                    <!--<li>- Lona</li>-->
                    <!--<li>- Tela</li>-->
                    <!--<li>- Easy-Banner</li>-->
                    <!--<li>- Papel Couche</li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="impresion-sistema">-->
                  <!--<div class="heading-h3">-->
                    <!--<h3>Impresión</h3>-->
                  <!--</div>-->
                  <!--<ul class="ul-impresion">-->
                    <!--<li>- Sublimada</li>-->
                    <!--<li>- Latex</li>-->
                    <!--<li>- Vinil Textil</li>-->
                    <!--<li>- Serigrafía</li>-->
                    <!--<li>- Sublimación</li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="medidas">-->
                  <!--<div class="heading-h3">-->
                    <!--<h3>Medidas</h3>-->
                  <!--</div>-->
                  <!--<ul class="ul-impresion">-->
                    <!--<li *ngFor="let medida of medidas">{{medida.medida}}</li>-->
                    <!--<li></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

