<div class="contenido-categorias-display">
  <div class="row">
    <div class="col-12">
      <div class="display-header-container">
        <div class="banner-container">
          <img  src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/banner-flag-01.jpg" alt="">
          <div class="banner-title">
            <h1>FLAGS</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flag-banner']"  src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-03.jpg" class="hvr-grow" >
            </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/flag-banner']">BANNER FLAG</a> </div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
                <img [routerLink]="['/productos/flag-tiburon']" src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-04.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flag-tiburon']">BANDERA TIBURON</a></div>
          </div>
        </div>
        <div class="col-3 desktop">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flag-globo']" src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-06.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flag-globo']">BANDERA GLOBO</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flag-banner']"  src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-03.jpg" class="hvr-grow" >
            </div>
            <div class="categoria" ><a class="link hvr-grow" [routerLink]="['/productos/flag-banner']">BANNER FLAG</a> </div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
                <img [routerLink]="['/productos/flag-tiburon']" src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-04.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flag-tiburon']">BANDERA TIBURON</a></div>
          </div>
        </div>
        <div class="col-6 mobile">
          <div class="card">
            <div class="card-img-top">
              <img [routerLink]="['/productos/flag-globo']" src="../../../../../../assets/images/imagenes-productos/Displays/Banner Flag/Pagina Web - ExpoFly-06.jpg" class="hvr-grow">
            </div>
            <div class="categoria"><a class="link hvr-grow" [routerLink]="['/productos/flag-globo']">BANDERA GLOBO</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
